.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 100px 15px;
	height: 150px;
	overflow: hidden;
}

.headerImg {
	position: absolute;
	inset: -5%;
	background-image: url('../../assets/images/header.jpg');
	background-size: 110%;
	background-position: center;
	z-index: -1;
}
